// default variables 

//theme global variables related to layout

//paths to assets - keep in mind that CSS will be inlined, so absolute paths are required. For some reason I couldn't get to work relative path with meta base href tag.
$assetsPath: "//";
$fontsPath: "//";


//colors
$black: #272727;
$silver: #F0F0F0;

$text_silver: #535050;
$text_silver_light: #C8C8C8;

$viewport_width: 1280px;
$viewport_padding: 1rem;

$breakpoint_phone: 480px;
$breakpoint_phone_big: 640px;
$breakpoint_tablet-portrait: 768px;
$breakpoint_mobile: 960px;
$breakpoint_tablet: 1024px;
$breakpoint_desktop: 1180px;
$breakpoint_hd: 1280px;
$breakpoint_laptop: 1366px;
$breakpoint_laptop_big: 1440px;
$breakpoint_viewport: 1650px;
$breakpoint_fullhd: 1920px;
$breakpoint_wqhd: 2560px;