<section class="content__section section-contact">
    <div class="viewport">
        <h2>Feel free to contact me.</h2>
        <p>Thanks for taking the time to look at some my projects. You can get in touch with me via e-mail: <a href="mailto:piotrmerton@gmail.com">piotrmerton@gmail.com</a></p>
    </div>
</section>