<header>
    <div class="viewport">
        <div class="header__layout">
            <a class="header__title" href="index.html">
                <p>Piotr Merton</p>
                <span>designer &amp; developer</span>
            </a>
            <div class="header__contact">
                <a href="mailto:piotrmerton@gmail.com">piotrmerton@gmail.com</a>
            </div>
        </div>
    </div>
</header>