.button {
    display: inline-flex;
    padding: 0 1rem;
    background: $black;
    color: #fff;

    border: 2px solid transparent;
    border-radius: 2rem;

    min-width: 10rem;
    min-height: 2.5rem;

    justify-content: center;
    align-items: center;

    font-size: .875em;
    font-weight: 500;

    &.button--transparent {
        border-color: $black;
        background: transparent;
        color: $black;

    }

    .button__ico {
        margin-left: .5rem;
        .svg__ico {
            fill: $black;
        }
    }
}